
/* HEADER SECTION */
.heading, .demoOptions{
  font-family: 'Oswald', sans-serif;
  padding: 1rem;
}

/* STATUS */

.status-col{
  text-align: right;
}

.status {
  background-color: #bbbbbb;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  width: 17%;
  height: 165%;
  text-align: center;
  display: inline-block;
  margin: 4px;
}

.options-col{
  text-align: center;
  margin-left: 9%;
  margin-top: 2rem;
}

.options{
  background-color: #a6a9b6;
  color: #fff;
  font-family: 'Playfair Display', serif;
  width: 20%;
  height: 80%;
  text-align: center;
  display: inline-block;
  border-radius: 23%;
  margin: 0.1rem;
}


/* TAB */
.tab-row{
  padding: 2px 2px 10px 2px;
}

.tab-col{
  display: inline-block;
  background-color: gray;
}

/* TABLE */
thead{
  text-align: center;
  color: white;
  background-color: black;
}

#external-link{
  background-color: white;
}


.col-sidenav{
  background-color: black;
  color: white;
  text-align: left;
  padding: 1rem 1rem 3rem 1rem;
}


.details{
  display: inline-block;
  padding: 50px 50px 0px 5px;
}



/* QUERIES */
/* Responsive Texts */
/* If the screen size is 901px wide or more, set the font-size of Heading to 80px */
@media screen and (max-width: 901px) {
  .heading{

  }
  .status{
    height: 130%;
  }

  h4{
    font-size: 11px;
  }

  h5{
    font-size: 10.5px;
  }

  h6{
    font-size: 10px;
  }

  p, option{
    font-size: 8px;
  }

  .demoOptions{
    text-align: left;
    padding: 0;
  }

  .table{
    font-size: 10px;
  }
}
